* {text-align: center;
  padding: 0%;
  margin: 0%;
}
nav{
  margin: 50px 0;
}
nav ul li{
  display:inline-flex;
  margin: auto;
  width: 15%;
  text-align: center;
  text-decoration: none;
}
.conts{
  display: none;
}
.vender{
  display:flex;
  background-color: black;
  width: 100%;
  height: auto;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}
.vender li{
  margin: 50px 0;
  width: 100%;
  text-decoration: none;
  text-align: center;
  justify-items: center;
}
#btnbuscar{
  background-color: white;
  color: black;
}
body {
  background: rgb(243, 244, 252);
  background: url('../img/uno.jpg');
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin: auto;
  text-align: center;
}

h1 {
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  text-transform: uppercase;
  display: inline-block;
}

form {
  background-color: transparent;
  margin: auto;
}

fieldset {
  background-color: black;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  text-align: center;
  width: 50%;
}

input {
  width: 50%;
  margin: auto;
  padding: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

#btn {
  align-items: center;
  justify-content: center;
  background: royalblue;
  color: white;
  width: 50%;
  cursor: pointer;
}

legend {
  background-color: black;
  border-radius: 30px;
}

.cja {
  background-color: black;
  border-radius: 30px;
  text-align: center;
  display: flex;
  color: white;
  flex-direction: row;
  margin: auto;
  height: 300px;
  width: 800px;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
#contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  text-decoration: none;
  flex-direction: column;
  background-color: rgb(19, 32, 151);
  color: white;
}
a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
