* {text-align: center;
  padding: 0%;
  margin: 0%;
}
nav{
  margin: 50px 0;
}
nav ul li{
  display:inline-flex;
  margin: auto;
  width: 15%;
  text-align: center;
  text-decoration: none;
}
.conts{
  display: none;
}
.vender{
  display:flex;
  background-color: black;
  width: 100%;
  height: auto;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}
.vender li{
  margin: 50px 0;
  width: 100%;
  text-decoration: none;
  text-align: center;
  justify-items: center;
}

body {
  background: rgb(0, 1, 9);
  color: rgb(255, 255, 255);
}

#buscar{
  height:4em ;
  width:11em;
}
header {
  margin: auto;
  text-align: center;
}

h1 {
  margin:20PX;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  font-size: 50px;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  text-transform: uppercase;
  display: inline-block;
}

input {
  width: 50%;
  margin: auto;
  padding: 5px;
  text-align: center;
  background-color: rgb(254, 254, 254);
}

legend {
  background-color: black;
  border-radius: 30px;
}

#contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  text-decoration: none;
  flex-direction: column;
  background-color: rgb(60, 62, 83);
  padding-top: 10px;
  color: rgb(255, 255, 255);
}
a{
  padding-top: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 20px;
}













button {
 cursor: pointer;
  margin:30px;
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}

#clip {
  --color: #ffffff;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #4b565d;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #ffffff;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

button:hover #rightArrow {
  background-color: #000000;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

button:hover #leftArrow {
  background-color: #000000;
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #ffffff;
  box-shadow: inset 1px 1px 8px #767f85;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3.0em;
}

#leftBottom {
  top: 2.10em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

button:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

button:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

button:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

button:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

button:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

button:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #000000;
}

@keyframes changeColor8 {
  from {
    background-color: #ffffff;
  }

  to {
    background-color: #000000;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #000000;
  }

  to {
    box-shadow: 0 0 2px #000000;
  }
}

@keyframes greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #000000;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }
}


